/*
Font Face Families. Loading from root
*/
@font-face {
  font-family: "Pf Din Text Pro";
  src: url("../fonts/pfdintextpro-light.eot?#iefix");
  src: url("../fonts/pfdintextpro-light.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/pfdintextpro-light.woff2") format("woff2"), 
       url("../fonts/pfdintextpro-light.woff") format("woff"), 
       url("../fonts/pfdintextpro-light.ttf") format("truetype"), 
       url("../fonts/pfdintextpro-light.svg#pfdintextpro-light") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pf Din Text Pro";
  src: url("../fonts/pfdintextpro-regular.eot?#iefix");
  src: url("../fonts/pfdintextpro-regular.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/pfdintextpro-regular.woff2") format("woff2"), 
       url("../fonts/pfdintextpro-regular.woff") format("woff"), 
       url("../fonts/pfdintextpro-regular.ttf") format("truetype"), 
       url("../fonts/pfdintextpro-regular.svg#pfdintextpro-regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pf Din Text Pro";
  src: url("../fonts/pfdintextpro-medium.eot?#iefix");
  src: url("../fonts/pfdintextpro-medium.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/pfdintextpro-medium.woff2") format("woff2"), 
       url("../fonts/pfdintextpro-medium.woff") format("woff"), 
       url("../fonts/pfdintextpro-medium.ttf") format("truetype"), 
       url("../fonts/pfdintextpro-medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pf Din Text Pro";
  src: url("../fonts/pfdintextpro-bold.eot?#iefix");
  src: url("../fonts/pfdintextpro-bold.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/pfdintextpro-bold.woff2") format("woff2"), 
       url("../fonts/pfdintextpro-bold.woff") format("woff"), 
       url("../fonts/pfdintextpro-bold.ttf") format("truetype"), 
        url("../fonts/pfdintextpro-bold.svg#pfdintextpro-bold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kepler Std Semicondensed";
  src: url("../fonts/kepler-std-semicondensed.eot?#iefix");
  src: url("../fonts/kepler-std-semicondensed.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/kepler-std-semicondensed.woff2") format("woff2"), 
       url("../fonts/kepler-std-semicondensed.woff") format("woff"), 
       url("../fonts/kepler-std-semicondensed.ttf") format("truetype"), 
       url("../fonts/kepler-std-semicondensed.svg#kepler-std-semicondensed") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue.eot?#iefix");
  src: url("../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/HelveticaNeue.woff2") format("woff2"), 
       url("../fonts/HelveticaNeue.woff") format("woff"), 
       url("../fonts/HelveticaNeue.ttf") format("truetype"), 
       url("../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-bold.eot?#iefix");
  src: url("../fonts/HelveticaNeue-bold.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/HelveticaNeue-bold.woff2") format("woff2"), 
       url("../fonts/HelveticaNeue-bold.woff") format("woff"), 
       url("../fonts/HelveticaNeue-bold.ttf") format("truetype"), 
       url("../fonts/HelveticaNeue-bold.svg#HelveticaNeue-bold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-light.eot?#iefix");
  src: url("../fonts/HelveticaNeue-light.eot?#iefix") format("embedded-opentype"), 
      url("../fonts/HelveticaNeue-light.woff2") format("woff2"), 
      url("../fonts/HelveticaNeue-light.woff") format("woff"), 
      url("../fonts/HelveticaNeue-light.ttf") format("truetype"), 
      url("../fonts/HelveticaNeue-light.svg#HelveticaNeue-light") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


body { 
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}